body{
    width: 100%;
    padding: 0 ;
    margin: 0;
 }

.body{
    display: flex;
    flex-direction: nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: none;
    padding-bottom: 50px;
    background-color: #F0F2F5;
    padding: 4rem 0 12rem 0;
}

.Facebook_logo{
    width: 40%;
    padding: 0 30px 0 8.9rem;
    margin: -50px 0 0 1%;
    margin-left: 1%;
    display: block;
}

.logo{
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo img{
    width: 57%;
    margin: 0;
}

.Facebook_logo p{
    width: 100%;
    padding: 0 10px 0 30px;
    margin-top: -15px;
    font-size: 27px;
    font-weight: 400;
    color: #1C1E21;
    letter-spacing: 0.6px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

form{
    width: 35%;
    margin: 60px 0 0 -145px;
}

.form_group{
    width: 84%;
    background-color: white;
    border-radius: 8px;
    padding-left: -40px;
    margin: 0 auto;
    position: relative;
    margin-top: 3S0px;
}

.form_group1{
    width: 83%;
    margin: 0px 10px;
    padding: 0px 5px;
}

.form_group p{
    font-size: 15px;
    margin: 5px 0 10px ;
    color: rgb(5, 5, 5);
    word-spacing: 0;
    text-align: center;
    width: 110%;
    padding-bottom: 20px;
    border-bottom: 1px solid #DADDE1;
}

.form_group1 p a{
    text-decoration: none;
    text-align: center;
    color: #1877f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form_group p a:hover{
    text-decoration: underline;
}

.form_group input{
    padding: 15px 16px;
    margin: 8px 0;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    border: #DDDFE2 solid 0.5px;
    font-size: 15px;
}

.login_button button{
    background-color: #1877f2;
    color: #fff;
    border: #1877f2;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 60px;
    text-align: center;
    margin: 10px 0px;
    width: 110%;
    align-items: center;

}

.login_button button:hover{
    background-color: #166FE5;
}

.form_group .new{
    padding: 11px 15px;
    width: 50%;
    margin: 20px 25% 28px;
    border-radius: 5px;
    border: #42B72A solid 1px;
    font-size: 15px;
    background-color: #42B72A ;
    color: #fff;
    font-weight: bolder;
}

.form_group .new:hover{
    background-color: #36A420;
}
.password_cont{
    display: inline;
}
.password_cont input{
    position: relative;
}
.form_group i{
    color: black;
    background-color: white;
    position: absolute;
    margin: -40px 0 0 85%;
}

.create_page{
    align-items: center;
    padding: 10px 5px 15px;
    width: 100%;
}

.create_page p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.create_page p a{
    text-decoration: none;
    text-align: center;
    color: #0b0c0c;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.create_page p a:hover{
    text-decoration: underline;
}

.body:after{
    content: '';
    display: table;
    clear: both;
}

footer{
    width: auto;
    text-align: left;
    background-color: #ffffff;
    padding: 0 10rem;
    margin: 0;
}

.footer-cont{
    padding: 20px 50px;
}
footer button{
    font-size: 20px;
    margin-top: -10px;
}

footer p{
    width: 90%;
    text-align: left;
    color: rgb(108, 109, 109);
    font-size: 13px;
    word-spacing: 10px;
    padding: auto 40px;
}

.cont2{
    border-top: #DADDE1 1.5px dashed;
}
